.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    background: #f1f1f1;
    margin: 20px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }

  .classDiv {  
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    text-align: center;
    }